* {
  margin: 0;
  padding: 0;
}

html,
body {
  color: black;
  width: 100vw;
  height: 100vh;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  padding: 0.6em 1em;
  border-radius: 25px;
  background-color: #bbb7da;
  border: none;
  cursor: pointer;
}

nav {
  margin: 0 auto;
  padding: 20px 0 0 0;
  width: 60%;
  display: flex;
  justify-content: space-between;
}

main {
  position: relative;
  width: 90%;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
}

.container1 {
  box-sizing: content-box;
  /* width: 80%; */
}
.container2 {
  box-sizing: content-box;
  width: 70%;
}

.form-input {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.input {
  padding: 0.6em 1em;
  border-radius: 25px;
}

.form-label {
  display: block;
}

.select-system {
  display: flex;
  justify-content: space-between;
}

.form-radio {
  display: flex;
}

/*  */

.header {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}

.machine-header {
  margin-top: 30px;
  display: flex;
  align-items: center;
}
.machine-header>p {
  margin: 0 20px;
}

.flex-header {
  display: flex;
  margin: 0 20px;
}
.flex-header>p {
  margin: 0 20px;
}

/*  */

.machine-marks {
  display: flex;
  justify-content: end;
  margin: 20px 200px;
}

.machine-marks-column {
  display: flex;
  margin: 0 25px;
  align-items: center;
}

.machine-marks-column .mark-input, .main-input, .additional-input {
  width: 20px;
}

/*  */

.month-row {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.month, .work-days {
  margin: 0 15px;
}

.work-days {
  width: 80px;
  margin-right: 50px;
}

.parameter-name {
  justify-content: space-around;
}

.column {
  display: flex;
  flex-direction: column;
}

.additional-data, .main-data {
  display: flex;
  margin: 0 22px;
}

